<div class="main-page">
	<div class="unlogged" *ngIf="!qwe.name">
		<fieldset>
			<legend><h4>Добро пожаловать</h4></legend>
			Користувач потрапляє на сторінку авторизації. Після авторизації – головна сторінка порталу з інформацією про проект. Потім подається біографічна довідка про гетьмана П.Сагайдачного і починається квест, який складається з чек-поінтів.Кожен чек-поінт квесту включає чотири частини:
		</fieldset>
		<h3>Для начала работы, пожалуйста, <a href="#" (click)="qwe.login()">авторизируйтесь</a></h3>
	</div>
			
</div>

<div class="wrap">


	<div *ngIf="qwe.name">
		<div class="nameblock">
			<img  class = "profileImage" src={{qwe.profileUrl}}>
			<h3>{{qwe.currentname}}</h3>
			<h3><a href="#" id="logout" (click)="qwe.logout()">Logout</a></h3>
			<h3><a routerLink="/students" href="#" id="myStudents" *ngIf="qwe.currentRole == 'teacher' && !status" (click) = "changeStatus()">Мои студенты</a></h3>
			<h3><a routerLink="/quiz" href="#" id="quiz" *ngIf="qwe.currentRole == 'teacher' && status" (click) = "changeStatus()">sagay</a></h3>
		</div>
	</div>

	
	<router-outlet></router-outlet>


	<div class="choice" *ngIf="firstTime && loaded">
		<fieldset>
			<legend>main info</legend>
			Наш проект создан для эрудиции-хуидиции бла-бла-бла.
			Вы зашли сюда первый раз, бла-бла-бла, бла-бла-бла,бла-бла-бла,бла-бла-бла,бла-бла-бла,
			бла-бла-бла,бла-бла-бла,бла-бла-бла,бла-бла-бла,бла-бла-бла,бла-бла-бла,бла-бла-бла,бла-бла-бла,бла-бла-бла,бла-бла-бла,бла-бла-бла,бла-бла-бла,бла-бла-бла,бла-бла-бла,бла-бла-бла,бла-бла-бла, выебрите роль
			<br>
			<button (click) = "addRole('teacher')">Вчытэль</button>
			<button (click) = "addRole('student')">Учэнь</button>
		</fieldset>
	</div>

	
	
<!-- 	<app-accounts *ngIf="!firstTime && loaded"></app-accounts> -->

</div>